<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="build/images/barber.jpg" />
    <title>The Warrior Baber Shop</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f6414e1f4b.js" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="./build/css/estilos.css" rel="stylesheet" />
    <link href="./build/css/provee.css" rel="stylesheet" />

  </head>

  <body onload="listarProveedores()">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-center">
        <div>
          <a href="/ini"><img src="./build/images/logo-twbs-blanco.png" class="logo" /></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav navIni">
            <li class="navIni nav-item">
              <a href="ini"><i class="fa fa-house"></i>Inicio</a>
            </li>
            <li class="navIni nav-item">
              <a href="confi"><i class="fa fa-address-book"></i>Confirguración</a>
            </li>
            <li class="navIni nav-item">
              <a href="usu"><i class="fa fa-users"></i>Usuarios</a>
            </li>
            <li class="navIni nav-item dropdown">
              <a class="activo" id="compra"><i class="fa fa-clipboard-list"></i>
                Compras
                <i class="fa fa-chevron-up" id="flecha"></i></a>
              <div id="comUl">
                <ul>
                  <li class="listLi"><a href="insu"><i class="fa fa-box"></i>Insumos</a></li>
                  <li class="listLi"><a class="activo" href="prov"><i class="fa fa-people-group"></i>Proveedores</a></li>
                </ul>
              </div>
            </li>
            <li class="navIni nav-item dropdown">
              <a id="servicio"><i class="fa fa-handshake"></i>
                Servicios
                <i class="fa fa-chevron-up" id="flecha2"></i></a>
              <div id="servUl">
                <ul>
                  <li class="listLi"><a href="empl"><i class="fa fa-user-group"></i>Empleados</a></li>
                  <li class="listLi"><a href="agend"><i class="fa fa-calendar-day"></i>Agendamiento de citas</a></li>
                  <li class="listLi"><a href="pagoBoni"><i class="fa fa-hand-holding-dollar"></i>Pago de bonificaciones</a></li>
                </ul>
              </div>
            </li>
            <li class="navIni nav-item dropdown">
              <a id="venta"><i class="fa fa-user-tag"></i>
                Ventas
                <i class="fa fa-chevron-up" id="flecha3"></i></a>
              <div id="venUl">
                <ul>
                  <li class="listLi"><a href="clientes"><i class="fa fa-users-line"></i>Clientes</a></li>
                  <li class="listLi"><a href="gestVentas"><i class="fa fa-chart-line"></i>Gestión de ventas</a></li>
                </ul>
              </div>
            </li>
            <li class="navIni nav-item">
              <a href="/"><i class="fa fa-right-from-bracket"></i>Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="content">
      <div>
        <h1 class="d-flex justify-content-center tit">Lista De Proveedores</h1>
      </div>
      <div>
        <div class="acciones">
          <a class="btnsConfi" id="btnAgg"><i class="fa fa-user-plus"></i></a>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nombre de Proveedor</th>
              <th>Nombre de Contacto</th>
              <th>Correo</th>
              <th id="thNumCel">Número de celular</th>
              <th id="actInfo">Actualizar información</th>
            </tr>
          </thead>
          <tbody id="tablaProveedores">
          </tbody>
        </table>
        <div id="fondo">
          <form id="formulario">
            <div class="container">
              <h3 class="center">Registrar nuevo proveedor</h3>
              <div class="d-flex justify-content-center contForm">
                <i class="fa-solid fa-user iconForm"></i>
                <div class="input-field inpForm">
                  <input type="text" id="nomProv" class="form1" data-length="20" />
                  <label for="nomProv">Ingrese el nombre del proveedor</label>
                </div>
                <i class="fa-solid fa-address-card iconForm"></i>
                <div class="input-field inpForm">
                  <input type="text" id="nomCont" class="form1" data-length="25" />
                  <label for="nomCont">Ingrese el nombre del contacto</label>
                </div>
              </div>
              <div class="d-flex justify-content-center contForm">
                <i class="fa-solid fa-envelope iconForm"></i>
                <div class="input-field inpForm">
                  <input type="email" id="Correo" class="form1" data-length="40" />
                  <label for="Correo">Ingrese un correo</label>
                </div>
                <i class="fa-solid fa-mobile-screen iconForm"></i>
                <div class="input-field inpForm">
                  <input type="text" id="numCel" class="form1" data-length="15" oninput="validarCelu('numCel')" />
                  <label for="numCel">Ingrese un número de celular</label>
                </div>
              </div>
              <div class="center">
                <button id="aggProv" type="button" class="waves-effect waves-perso btn black">Registrar</button>
                <button id="canProv" type="button" class="waves-effect waves-perso btn black">Cancelar</button>
              </div>
            </div>
          </form>
        </div>

        <div id="fondo2">
          <div id="formulario2">
            <div class="container">
              <h3 class="center">Actualizar la información del proveedor</h3>
              <div class="d-flex justify-content-center contForm">

                <i class="fa-solid fa-user iconForm"></i>
                <div class="input-field inpForm">
                  <input type="text" id="nomProv2" class="form1" data-length="20" disabled/>
                  <label for="nomProv2" id="nomProvL2">Ingrese el nombre del proveedor</label>
                </div>

                <i class="fa-solid fa-address-card iconForm"></i>
                <div class="input-field inpForm">
                  <input type="text" id="nomCont2" class="form1" data-length="25" />
                  <label for="nomCont2" id="nomContL2">Ingrese el nombre del contacto</label>
                </div>

              </div>
              <div class="d-flex justify-content-center contForm">

                <i class="fa-solid fa-envelope iconForm"></i>
                <div class="input-field inpForm">
                  <input type="email" id="Correo2" class="form1" data-length="40" />
                  <label for="Correo2" id="CorreoL2">Ingrese un correo</label>
                </div>

                <i class="fa-solid fa-mobile-screen iconForm"></i>
                <div class="input-field inpForm">
                  <input type="text" id="numCel2" class="form1" data-length="15" oninput="validarCelu('numCel2')" />
                  <label for="numCel2" id="numCelL2">Ingrese un número de celular</label>
                </div>

              </div>
              <div class="center">
                <button id="actUsu" type="button" class="waves-effect waves-perso btn black" onclick="modificarUsu()">Registrar</button>
                <button id="canProv2" type="button" class="waves-effect waves-perso btn black">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <i class="fa fa-whatsapp"></i>
      <span>(318) 517 3515</span>
    </footer>
    <script src="./build/js/funciones.js"></script>
    <script src="./build/js/provee.js"></script>
  </body>

</html>