<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-center">
    <div>
      <a href="/ini"><img src="./build/images/logo-twbs-blanco.png" class="logo" /></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav navIni">
        <li class="navIni nav-item">
          <a href="ini"><i class="fa fa-house"></i>Inicio</a>
        </li>
        <li class="navIni nav-item">
          <a href="confi"><i class="fa fa-address-book"></i>Configuración</a>
        </li>
        <li class="navIni nav-item">
          <a href="usu"><i class="fa fa-users"></i>Usuarios</a>
        </li>
        <li class="navIni nav-item dropdown">
          <a id="compra"><i class="fa fa-clipboard-list"></i>
            Compras
            <i class="fa fa-chevron-up" id="flecha"></i></a>
          <div id="comUl">
            <ul>
              <li class="listLi"><a href="insu"><i class="fa fa-box"></i>Insumos</a></li>
              <li class="listLi"><a href="prov"><i class="fa fa-people-group"></i>Proveedores</a></li>
            </ul>
          </div>
        </li>
        <li class="navIni nav-item dropdown">
          <a id="servicio"><i class="fa fa-handshake"></i>
            Servicios
            <i class="fa fa-chevron-up" id="flecha2"></i></a>
          <div id="servUl">
            <ul>
              <li class="listLi"><a href="empl"><i class="fa fa-user-group"></i>Empleados</a></li>
              <li class="listLi"><a href="agend"><i class="fa fa-calendar-day"></i>Agendamiento de citas</a></li>
              <li class="listLi"><a href="pagoBoni"><i class="fa fa-hand-holding-dollar"></i>Pago de bonificaciones</a></li>
            </ul>
          </div>
        </li>
        <li class="navIni nav-item dropdown">
          <a class="activo" id="venta"><i class="fa fa-user-tag"></i>
            Ventas
            <i class="fa fa-chevron-up" id="flecha3"></i></a>
          <div id="venUl">
            <ul>
              <li class="listLi"><a class="activo" href="clientes"><i class="fa fa-users-line"></i>Clientes</a></li>
              <li class="listLi"><a href="gestVentas"><i class="fa fa-chart-line"></i>Gestión de ventas</a></li>
            </ul>
          </div>
        </li>
        <li class="navIni nav-item">
          <a href="/"><i class="fa fa-right-from-bracket"></i>Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>